:root {
	--Red: hsl(0, 78%, 62%);
	--Cyan: hsl(180, 62%, 55%);
	--Orange: hsl(34, 97%, 64%);
	--Blue: hsl(212, 86%, 64%);

	--Very-Dark-Blue: hsl(234, 12%, 34%);
	--Grayish-Blue: hsl(229, 6%, 66%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	background-color: var(--Very-Light-Gray);
}

h1 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 200;
}
span {
	font-weight: 900;
}
h1,
h2 {
	color: var(--Very-Dark-Blue);
}
p {
	color: var(--Grayish-Blue);
	font-size: 1rem;
}
section {
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 0 1rem;
	max-width: 30rem;
}
section p {
	font-size: 0.9rem;
}
section:first-child {
	margin-top: 3rem;
}
section::after {
	content: "";
	width: 0%;
	height: 5px;
	background-color: var(--Cyan);
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: width 1s 1s;
	-o-transition: width 1s 1s;
	transition: width 1s 1s;
}

section:first-child::after {
	background-color: var(--Cyan);
}
section:nth-child(2)::after {
	background-color: var(--Red);
}

section:nth-child(3)::after {
	background-color: var(--Orange);
}

section:last-child::after {
	background-color: var(--Blue);
}

.main-container {
	width: 90%;
	max-width: 1440px;
	margin: 2rem auto 0 auto;
}
.text-center {
	text-align: center;
}
.d-grid {
	display: -ms-grid;
	display: grid;
	gap: 2rem;
}
.d-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.jc-end {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.jc-center {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.py-1 {
	padding: 2rem 0 1rem 0;
}

footer {
	font-size: 0.8rem;
	margin: 2rem 0 1rem 0;
}
footer a {
	text-decoration: none;
	color: var(--Blue);
	-webkit-transition: color 300ms;
	-o-transition: color 300ms;
	transition: color 300ms;
}
footer a:hover {
	color: var(--Cyan);
}

/* Animaciones & Transiciones */

h1,
h2,
p,
span,
img,
section,
footer p {
	opacity: 0;
}

span.visible {
	opacity: 1;
	-webkit-animation: visible 0.5s linear;
	animation: visible 0.5s linear;
}
h1.visible {
	opacity: 1;
	-webkit-animation: visible 0.75s linear;
	animation: visible 0.75s linear;
}
p.visible {
	opacity: 1;
	-webkit-animation: visible 1s linear;
	animation: visible 1s linear;
}
section.visible {
	opacity: 1;
	-webkit-animation: visible 0.25s linear;
	animation: visible 0.25s linear;
}
h2.visible {
	opacity: 1;
	-webkit-animation: visible 1.25s linear;
	animation: visible 1.25s linear;
}
section p.visible {
	opacity: 1;
	-webkit-animation: visible 1.5s linear;
	animation: visible 1.5s linear;
}
section img.visible {
	opacity: 1;
	-webkit-animation: visible 1.75s linear;
	animation: visible 1.75s linear;
}
section.visible::after {
	width: 100%;
}
footer p.visible {
	opacity: 1;
	-webkit-animation: visible 0.5s linear;
	animation: visible 0.5s linear;
}
@-webkit-keyframes visible {
	0%,
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes visible {
	0%,
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (min-width: 992px) {
	h1,
	span {
		font-size: 3rem;
		margin: 0;
	}
	h1 span {
		display: inline-block;
		-webkit-transform: translateY(-1rem);
		-ms-transform: translateY(-1rem);
		transform: translateY(-1rem);
	}
	p {
		max-width: 35rem;
		margin: 0 auto;
	}
	header {
		margin-bottom: 3rem;
	}
	.d-grid {
		-ms-grid-columns: 1fr 0 1fr 0 1fr;
		grid-template-columns: repeat(3, 1fr);
		-ms-grid-rows: 1fr 1rem 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"supervisor  builder calculator"
			"supervisor karma calculator";
		gap: 1rem 0;
	}
	section:first-child {
		margin-top: 0rem;
		grid-area: supervisor;
	}
	section:nth-child(2) {
		grid-area: builder;
	}
	section:nth-child(3) {
		grid-area: karma;
	}
	section:last-child {
		grid-area: calculator;
	}
	section {
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
	}
}
